{% extends 'base.html' %}



{% block services %}
 
<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    
    <h4>What we offer</h4>
    <br>
   
    <div class="row slideanim">
      {% for data in data %}
      <div class="col-sm-4">
        <h1>{{data.Title}}</h1>
        <h2>{{data.Discription}}</h2>
        <a href="{{data.Link}}"  class="btn btn-secondary"><button type="button" class="btn btn-primary">Go to page</button></a>
      </div>
      {%endfor%}
    </div>
    
  </div>
{% endblock services %}